body{
    background-color: #fffbf7;
}
button{
    color:#ffff;
    background-color: #025157;
}

        h1{
            color:black;
        
            
        }
      
        p{
            color:#46484c;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h3{
            color:#8b8b8bcc;
        }
  